.grid-item
{
    border-bottom: 1.5px solid lightgray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    flex-grow: 1;
    margin: 0px 0px 0.5em 0px;
    padding: 0px 0.2em 0.5em 0.2em;
    border-style: inset;
}

img.width
{
    max-height: 33rem;
    min-height: 33rem;
    border: 3px solid purple;
    padding: 0px;
    display: inline-block;
    margin: auto;
}

.img-block
{
    margin: auto;
    margin-left: 0px;
    padding: 0px;
    width: fit-content;
}

.hide
{
    display: none;
}

p.small
{
    margin-left: auto;
    max-width: 40ch;
}

.p-wdith
{
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
}

.wrap
{
    width: 95%;
    margin: auto;
}

@media only screen and (max-width: 110ch)
{
    /* For desktop: */
    .hide
    {
        display: block;
    }
    
    .p50
    {
        width: 100%;
    }
    
    p.small
    {
        margin-right: auto;
    }
    
    .img-block
    {
        margin-left: auto;
        width: min-content;
    }
    
    img.l-width
    {
        min-height: 23rem;
    }
}