body
{
    overflow-x: hidden;
}
.text-centered
{
    width: 100%;
}

h1, h2, h3, .sidenote
{
    text-align: center;
}
a:visited
{
    /* never go purple */
    color: blue;
}

header > h1
{
    margin-bottom: 0;
}
header > .sidenote
{
    margin-top: 0;
    font-style: italic;
}

main
{
    display: flex;
    justify-content: space-evenly;
}
ul
{
    /* unordered lists have default margin and padding */
    margin: 0;
    padding: 0;
}
li
{
    list-style: none;
    text-align: center;
}

@media only screen and (max-width: 65ch) {
    /* For desktop: */
    main
    {
        display: block;
    }
  }